*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
:root{
    --lightGray: #E3dfDe;
    --purple: #9350b1;
    --lightPurple: #f8e4f5;
}
body{
    background-color: var(--lightGray);
    padding: 25px;
    min-width: 600px;

}
.encabezado{
    background-color: var(--purple);
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
}

.encabezado figure img {
    width: 50px;
    
}
.encabezado h1 {
    color: white;
    text-transform: uppercase;

}

.tittle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form__search input{
    padding: 5px 15px;
    opacity: 0.35;
    border: none;
}

.form__search button{
    padding: 5px 15px;
    background-color:#f5f6fa;
    border: none;
}

.form__search button:hover{
    background-color:#44bd32;
    cursor: pointer;
    color: #fff;
}



.main-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    background-color: var(--lightPurple);

}
.charizard-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;

}

.title{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 15px;
}
.title figure img{
    width: 50px;
    height: 50px;
}
.image-charizard{
    width: 100%;
}
.image-charizard img{
    width: 100%;
    object-fit: cover;
}
.info-pokemon{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    gap: 10px;
    
    
}

.row-info{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row-item{
    display: flex;
    width: 80%;
}

.title-info{
    font-size: 20px;
    width: 50%;
}
.info-text{
    font-size: 25px;
    font-weight: bolder;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    color: #009432;
}
.abilities{
    font-size: 18px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius: 0 0 15px 15px;

}
.footer-content figure img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.footer-content figure{
    padding: 15px;
    background-color: var(--lightPurple);
    border-radius: 10px;
    margin: 10px;
}
.footer-content figure:hover{
    cursor: pointer;
    background-color:var(--purple) ;
}
.footer-content div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 65%;
}
@media (max-width:850px){
    .title-info{
        font-size: 15px;
    }
    .abilities{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px){
    .encabezado{
        justify-content: center;
    }
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .charizard-container{
        width: 90%;
        z-index: 2;
    }
    .info-pokemon{
        margin-top: 10%;
        width: 85%;
        height: 60vh;
        transform: translateY(-100px);
    }
    .info-text{
        font-size: 20px;
    }
}
